.form__section-header {
	padding: $spacing-s 0;
}

.form__section-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: $spacing-s 0;
}

.form__section-info {
	flex-grow: 0.75;
	width: 75%;
}

.form__error {
	color: $error-text;
}

.form__select,
.form__input,
.form__link,
.form__button {
	font-family: $header-font-family;
	padding: $spacing-s;
	border-radius: 0.5rem;
	text-decoration: none;
}

.form__select,
.form__link,
.form__button {
	cursor: pointer;
}

.form__select,
.form__input,
.form__link {
	flex-grow: 0.25;
	width: 25%;
}

.form__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.form__button-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
