.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.content__header {
	padding: $spacing-m;
}

.link {
	border: none !important;
	align-self: center;
}

.content__header__title {
	font-family: $header-font-family;
}

.content__header__description {
	display: none;
}

.content__body {
	padding: $spacing-m;
	flex-grow: 1;
	flex-shrink: 0;
}

@media (min-width: $tablet-width) {
	.content__header__description {
		display: block;
	}
}
