.theme__dark {
	background-color: $dark-theme-bg;
	color: $dark-theme-text;

	header,
	footer,
	.sidebar {
		background-color: $dark-theme-header;
	}

	svg {
		fill: $dark-theme-text;
	}

	input,
	select,
	button,
	.form__link,
	.link {
		background-color: $dark-theme-header;
		color: $dark-theme-text;
		border: 1px solid lighten($dark-theme-header, 10%);
	}

	button:hover {
		background-color: lighten($dark-theme-header, 10%);
	}

	.sidebar__item__title {
		color: $dark-theme-text;
	}

	.content__header,
	.canvas-toolbar {
		background-color: $dark-theme-header;
	}

	.dice-history__header,
	.form__section-header {
		border-bottom: 1px solid lighten($dark-theme-header, 10%);
	}

	.card {
		background-color: $dark-theme-header;
		color: $dark-theme-text;
		border: 1px solid lighten($dark-theme-header, 10%);
	}
}
