/*******************************************
 *
 * Fonts
 *
 *******************************************/

// Font families
$Montserrat: "Montserrat", Arial, sans-serif;
$Staatliches: "Staatliches", Arial, sans-serif;

$header-font-family: $Staatliches;
$text-font-family: $Montserrat;

// Font sizing
$header-xs: 1rem;
$header-s: 1.2rem;
$header-m: 1.8rem;
$header-l: 2.4rem;
$header-xl: 3.2rem;

$text-s: 1.2rem;
$text-m: 1.4rem;

/*******************************************
 *
 * Sizing
 *
 *******************************************/
$icon-s: 24px;
$icon-m: 32px;
$icon-l: 48px;
$icon-xl: 64px;

$form-width: 576px;
$tablet-width: 768px;

$sidebar-width-s: 48px;
$sidebar-width-l: 64px;

$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;

/*******************************************
 *
 * Sizing
 *
 *******************************************/
$dark-theme-text: #eee;
$dark-theme-bg: #222;
$dark-theme-header: #111;
$light-theme-text: #111;
$light-theme-bg: #eee;
$light-theme-header: #2bcfcc;
$error-text: #ff0000;
