/*******************************************
 *
 * Fonts
 *
 *******************************************/

$header-font-family: sans-serif;
$text-font-family: sans-serif;

// Font sizing
$header-xs: 1rem;
$header-s: 1.4rem;
$header-m: 1.8rem;
$header-l: 2.4rem;
$header-xl: 3.6rem;

$text-s: 1.2rem;
$text-m: 1.4rem;
$text-l: 1.6rem;

/*******************************************
 *
 * Sizing
 *
 *******************************************/
$icon-s: 16px;
$icon-m: 24px;
$icon-l: 32px;
$icon-xl: 48px;

$form-width: 576px;
$tablet-width: 768px;

$sidebar-width: 48px;

$toolbar-height-s: 36px;
$toolbar-height-l: 48px;

$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;

$view-width: 768px;

@mixin set-max-page-width($class-name) {
	.#{$class-name} {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@media (min-width: $view-width) {
		.#{$class-name} {
			width: $view-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*******************************************
 *
 * Themes
 *
 *******************************************/
// Themes
$theme-colors: (
	"dark": (
		"accent": rgb(0, 195, 255),
		"bg": #222,
		"bg-header": #111,
		"header": #ddd,
		"text": #ddd,
	),
	"light": (
		"accent": rgb(255, 139, 121),
		"bg": #eee,
		"bg-header": rgb(102, 183, 207),
		"header": rgb(102, 183, 207),
		"text": #111,
	),
);

$error-text: #ff0000;
